<img class="image" src="/assets/img/burgerT.jpg" alt="Hamburger">

<h1 id="eat">Eat-Da-Burger!</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
<ul class="burgers"><h3>Burgers</h3>
    {{#each burgers}}
      {{#unless devoured }}
       <li><strong>{{this.id}}  {{this.burger_name}}</strong>
          <button class="btn-primary" type="button" class="Devour It!">Devour It!</button></li> 
      {{/unless}}  
    {{/each}}
</ul>
</div>
<div class="col-lg-6">
<ul class="devoured"><h3>Devoured</h3>
    {{#each burgers}}
      {{#if devoured }}
    <li> <strong>{{this.id}}  {{this.burger_name}}</strong></li> 
        
      {{/if}}  
    {{/each}}
</ul>
</div>
</div>
</div>

<div class="container text-center">
<input type="text">
<button type="submit" class="New Burger btn-primary">Submit</button>
<h5>Enter a Burger you want to eat and click the Submit button.</h5>
</div>